workflows/backup_workflows.json
[{"updatedAt":"2025-12-26T13:45:18.000Z","createdAt":"2025-12-26T13:43:00.349Z","id":"PEps5cUQagXmRMzd","name":"heatpumppowerconsumption_shelly3Pro","description":null,"active":false,"isArchived":true,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0],"id":"c1648be6-863c-46dc-91a3-ea3d5aac4e58","name":"When clicking ‘Execute workflow’"},{"parameters":{"url":"http://192.168.178.138/rpc/Shelly.GetStatus","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[240,0],"id":"6d121df8-e8e1-415e-92ae-87ec7adcd014","name":"ShellyPro3EM.GetStatus"},{"parameters":{"operation":"executeQuery","query":"SELECT now() as logdate, DATE_FORMAT(now(), '%Y-%m-%d %H:00:00') as hour, curdate() as day  FROM dual","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[480,0],"id":"b1769cfb-2dbf-42e3-afa3-95ad30e1a96c","name":"Get Date Formats"},{"parameters":{"table":{"__rl":true,"value":"heatpumppowerconsumptiondata","mode":"list","cachedResultName":"heatpumppowerconsumptiondata"},"dataMode":"defineBelow","valuesToSend":{"values":[{"column":"incoming","value":"={{ $('ShellyPro3EM.GetStatus').item.json['emdata:0'].total_act / 1000 }}"},{"column":"logdate","value":"={{ $json.logdate }}"},{"column":"day","value":"={{ $json.day }}"},{"column":"hour","value":"={{ $json.hour }}"}]},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[704,0],"id":"5d72fe1c-480b-45f2-ab5f-f5e60a1f9e2f","name":"Insert into heatpumppowerconsumptiondata"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"ShellyPro3EM.GetStatus","type":"main","index":0}]]},"ShellyPro3EM.GetStatus":{"main":[[{"node":"Get Date Formats","type":"main","index":0}]]},"Get Date Formats":{"main":[[{"node":"Insert into heatpumppowerconsumptiondata","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"94adb416-ab79-4ab5-90f0-be94a99ce75b","activeVersionId":null,"versionCounter":2,"triggerCount":0,"tags":[{"updatedAt":"2025-12-26T13:23:00.456Z","createdAt":"2025-12-26T13:23:00.456Z","id":"ucaCBTJiSMoGoFwV","name":"homecontrol"}],"shared":[{"updatedAt":"2025-12-26T13:43:00.372Z","createdAt":"2025-12-26T13:43:00.372Z","role":"workflow:owner","workflowId":"PEps5cUQagXmRMzd","projectId":"Oniqk8SCQE63N365","project":{"updatedAt":"2025-12-23T09:06:06.483Z","createdAt":"2025-12-23T09:02:15.061Z","id":"Oniqk8SCQE63N365","name":"Stefan Kopp <mail@stefankopp.com>","type":"personal","icon":null,"description":null,"creatorId":"93de1e5e-c030-4bb4-9c2c-f6577081d3ea"}}]},{"updatedAt":"2025-12-26T15:59:29.477Z","createdAt":"2025-12-26T13:43:03.299Z","id":"DoqkTWna1nWOZCC2","name":"heatpumppowerconsumption_shelly3Pro","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-96,-96],"id":"c1648be6-863c-46dc-91a3-ea3d5aac4e58","name":"When clicking ‘Execute workflow’"},{"parameters":{"url":"http://192.168.178.138/rpc/Shelly.GetStatus","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[240,0],"id":"6d121df8-e8e1-415e-92ae-87ec7adcd014","name":"ShellyPro3EM.GetStatus"},{"parameters":{"table":{"__rl":true,"value":"heatpumppowerconsumptiondata","mode":"list","cachedResultName":"heatpumppowerconsumptiondata"},"dataMode":"defineBelow","valuesToSend":{"values":[{"column":"incoming","value":"={{ ($('ShellyPro3EM.GetStatus').item.json['emdata:0'].total_act / 1000).toFixed(2) }}"},{"column":"logdate","value":"={{ $json.logdate }}"},{"column":"day","value":"={{ $json.day }}"},{"column":"hour","value":"={{ $json.hour }}"}]},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[720,0],"id":"5d72fe1c-480b-45f2-ab5f-f5e60a1f9e2f","name":"Insert into heatpumppowerconsumptiondata","credentials":{"mySql":{"id":"q8jUnB0EP32rq78n","name":"k71631_hc_v2"}}},{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 */15 * * * *"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-96,80],"id":"67c50e47-9950-422c-b064-f2bf6b1d12c3","name":"Schedule Trigger"},{"parameters":{"workflowId":{"__rl":true,"value":"m1hYSKpq29QDRClf","mode":"list","cachedResultUrl":"/workflow/m1hYSKpq29QDRClf","cachedResultName":"[Sub] Get Date Formats"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[480,0],"id":"7b9257e9-dc0b-4b45-a4a1-f457d5ded1d5","name":"Call '[Sub] Get Date Formats'"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"ShellyPro3EM.GetStatus","type":"main","index":0}]]},"ShellyPro3EM.GetStatus":{"main":[[{"node":"Call '[Sub] Get Date Formats'","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"ShellyPro3EM.GetStatus","type":"main","index":0}]]},"Call '[Sub] Get Date Formats'":{"main":[[{"node":"Insert into heatpumppowerconsumptiondata","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"6ba3ee7b-4e15-45ce-94eb-ce9528171255","activeVersionId":"6ba3ee7b-4e15-45ce-94eb-ce9528171255","versionCounter":25,"triggerCount":1,"tags":[{"updatedAt":"2025-12-26T13:23:00.456Z","createdAt":"2025-12-26T13:23:00.456Z","id":"ucaCBTJiSMoGoFwV","name":"homecontrol"}],"shared":[{"updatedAt":"2025-12-26T13:43:03.336Z","createdAt":"2025-12-26T13:43:03.336Z","role":"workflow:owner","workflowId":"DoqkTWna1nWOZCC2","projectId":"Oniqk8SCQE63N365","project":{"updatedAt":"2025-12-23T09:06:06.483Z","createdAt":"2025-12-23T09:02:15.061Z","id":"Oniqk8SCQE63N365","name":"Stefan Kopp <mail@stefankopp.com>","type":"personal","icon":null,"description":null,"creatorId":"93de1e5e-c030-4bb4-9c2c-f6577081d3ea"}}]},{"updatedAt":"2025-12-26T15:57:18.072Z","createdAt":"2025-12-26T13:49:53.807Z","id":"m1hYSKpq29QDRClf","name":"[sub] Get MySQL Date Formats","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-352,-48],"id":"9f35b1a7-9940-4aa7-89ae-495873bf8da1","name":"When Executed by Another Workflow"},{"parameters":{"operation":"executeQuery","query":"SELECT now() as logdate, DATE_FORMAT(now(), '%Y-%m-%d %H:00:00') as hour, curdate() as day  FROM dual","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[-128,-48],"id":"55a100c7-fea0-4366-a42f-ebcbf9e1fd3b","name":"Get Date Formats","credentials":{"mySql":{"id":"q8jUnB0EP32rq78n","name":"k71631_hc_v2"}}}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Get Date Formats","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"ddb5e4f1-a7f7-4c8f-99c3-7fbc6891d186","activeVersionId":"ddb5e4f1-a7f7-4c8f-99c3-7fbc6891d186","versionCounter":15,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2025-12-26T13:49:53.818Z","createdAt":"2025-12-26T13:49:53.818Z","role":"workflow:owner","workflowId":"m1hYSKpq29QDRClf","projectId":"Oniqk8SCQE63N365","project":{"updatedAt":"2025-12-23T09:06:06.483Z","createdAt":"2025-12-23T09:02:15.061Z","id":"Oniqk8SCQE63N365","name":"Stefan Kopp <mail@stefankopp.com>","type":"personal","icon":null,"description":null,"creatorId":"93de1e5e-c030-4bb4-9c2c-f6577081d3ea"}}]},{"updatedAt":"2025-12-26T16:01:12.889Z","createdAt":"2025-12-26T14:08:24.381Z","id":"5nkYWQEWhDpGF2sh","name":"wallboxpowerconsumption_datacollector","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-96,-96],"id":"97ea3811-a0b2-40a6-800a-e0e8eae8ca93","name":"When clicking ‘Execute workflow’"},{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 */15 * * * *"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-96,80],"id":"f7b8ba64-4268-4e4c-a37a-42c0c109eadb","name":"Schedule Trigger"},{"parameters":{"workflowId":{"__rl":true,"value":"m1hYSKpq29QDRClf","mode":"list","cachedResultUrl":"/workflow/m1hYSKpq29QDRClf","cachedResultName":"[Sub] Get Date Formats"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[544,0],"id":"e8a61219-9369-4019-aab1-3931be6738e1","name":"Call '[Sub] Get Date Formats'"},{"parameters":{"url":"http://192.168.178.64/api/v1/data","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[288,0],"id":"95d957c2-8526-4479-94ff-4a7a14955237","name":"HTTP Request"},{"parameters":{"table":{"__rl":true,"value":"wallboxpowerconsumptiondata","mode":"list","cachedResultName":"wallboxpowerconsumptiondata"},"dataMode":"defineBelow","valuesToSend":{"values":[{"column":"incoming","value":"={{ ($('HTTP Request').item.json.counter / 1).toFixed(2) }}"},{"column":"logdate","value":"={{ $json.logdate }}"},{"column":"day","value":"={{ $json.day }}"},{"column":"hour","value":"={{ $json.hour }}"}]},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[800,0],"id":"eb1d662c-7dd4-4fc1-a979-999f620b9f12","name":"Insert into wallboxpowerconsumptiondata","credentials":{"mySql":{"id":"q8jUnB0EP32rq78n","name":"k71631_hc_v2"}}}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Call '[Sub] Get Date Formats'":{"main":[[{"node":"Insert into wallboxpowerconsumptiondata","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Call '[Sub] Get Date Formats'","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"91d43b5f-6632-42a8-bc05-fad20bb4999b","activeVersionId":"ef528526-9024-4cab-ab3d-582e3486994d","versionCounter":26,"triggerCount":1,"tags":[{"updatedAt":"2025-12-26T13:23:00.456Z","createdAt":"2025-12-26T13:23:00.456Z","id":"ucaCBTJiSMoGoFwV","name":"homecontrol"}],"shared":[{"updatedAt":"2025-12-26T14:08:24.403Z","createdAt":"2025-12-26T14:08:24.403Z","role":"workflow:owner","workflowId":"5nkYWQEWhDpGF2sh","projectId":"Oniqk8SCQE63N365","project":{"updatedAt":"2025-12-23T09:06:06.483Z","createdAt":"2025-12-23T09:02:15.061Z","id":"Oniqk8SCQE63N365","name":"Stefan Kopp <mail@stefankopp.com>","type":"personal","icon":null,"description":null,"creatorId":"93de1e5e-c030-4bb4-9c2c-f6577081d3ea"}}]},{"updatedAt":"2025-12-26T15:56:28.847Z","createdAt":"2025-12-26T14:24:28.118Z","id":"LK1bG7I3iKSIbNgT","name":"ventilation_getstate","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"workflowId":{"__rl":true,"value":"gBHg8b3uOwgf8XfC","mode":"list","cachedResultUrl":"/workflow/gBHg8b3uOwgf8XfC","cachedResultName":"FRITZBox_Login"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[176,0],"name":"Call FRITZBox_Login","id":"250ffaa7-943b-4700-8596-d7437377b590"},{"parameters":{"url":"http://fritz.box/webservices/homeautoswitch.lua","sendQuery":true,"queryParameters":{"parameters":[{"name":"switchcmd","value":"getswitchstate"},{"name":"sid","value":"={{ $json.SessionInfo.SID }}"},{"name":"ain","value":"08761 0148538"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[384,0],"id":"0fc109f4-2723-4e5b-8fdb-3ef37d55c390","name":"GetSwitchState"},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-80,0],"id":"504e059b-f499-47c8-8b99-f64c4fa5310f","name":"When Executed by Another Workflow"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-80,-176],"id":"e1ebc2a1-d6c9-4cde-b8e3-9dcf928b72fe","name":"When clicking ‘Execute workflow’"},{"parameters":{"path":"ventilation-state","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-80,192],"id":"f05582ef-fa61-4fe3-9447-de878f982941","name":"Webhook","webhookId":"b4b9e44e-fba7-4957-aaed-0b0047bfe2dd"}],"connections":{"Call FRITZBox_Login":{"main":[[{"node":"GetSwitchState","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Call FRITZBox_Login","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Call FRITZBox_Login","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Call FRITZBox_Login","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"cc213c12-6fb8-4370-8996-a4ba09d94654","activeVersionId":"cc213c12-6fb8-4370-8996-a4ba09d94654","versionCounter":14,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2025-12-26T14:24:28.127Z","createdAt":"2025-12-26T14:24:28.127Z","role":"workflow:owner","workflowId":"LK1bG7I3iKSIbNgT","projectId":"Oniqk8SCQE63N365","project":{"updatedAt":"2025-12-23T09:06:06.483Z","createdAt":"2025-12-23T09:02:15.061Z","id":"Oniqk8SCQE63N365","name":"Stefan Kopp <mail@stefankopp.com>","type":"personal","icon":null,"description":null,"creatorId":"93de1e5e-c030-4bb4-9c2c-f6577081d3ea"}}]},{"updatedAt":"2025-12-26T15:56:58.477Z","createdAt":"2025-12-26T15:06:46.073Z","id":"gBHg8b3uOwgf8XfC","name":"[sub] fritzbox_login","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"url":"http://fritz.box/login_sid.lua","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[96,0],"id":"07caea11-f185-4d02-b205-3fd906f6ff87","name":"Logininformation"},{"parameters":{"url":"http://fritz.box/login_sid.lua","sendQuery":true,"queryParameters":{"parameters":[{"name":"username","value":"fritz1551"},{"name":"response","value":"={{ $json.response }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[624,0],"id":"0751eb4a-a7a6-4b96-90d7-7906ae64d3d2","name":"HTTP Request"},{"parameters":{"jsCode":"const crypto = require('crypto');\n\n// 1. Daten holen (aus dem Input des vorherigen Nodes)\nconst challenge = $input.first().json.SessionInfo.Challenge; \n// Falls du das Passwort in den Workflow-Variablen (v2.x Feature) hast:\nconst password = \"DidFRITZ!BoxPwd1!\"; \n\n// 2. Fritzbox-Logik: UTF-16LE Kodierung + MD5\nconst buffer = Buffer.from(`${challenge}-${password}`, 'utf16le');\nconst hash = crypto.createHash('md5').update(buffer).digest('hex');\n\n// 3. Ergebnis zurückgeben\nreturn {\n  response: `${challenge}-${hash}`\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[448,0],"id":"3096826b-2c1f-4d1b-9cc6-dd0bff219909","name":"Code in JavaScript"},{"parameters":{"inputSource":"passthrough"},"id":"7ccf8cf3-3833-429a-9631-2417880314fb","typeVersion":1.1,"name":"Start","type":"n8n-nodes-base.executeWorkflowTrigger","position":[-80,0]},{"parameters":{"options":{}},"type":"n8n-nodes-base.xml","typeVersion":1,"position":[272,0],"id":"bfa1d7a8-9759-43cd-82e3-a4121ca1ce60","name":"XMLtoJSON (Challange)"},{"parameters":{"options":{}},"type":"n8n-nodes-base.xml","typeVersion":1,"position":[800,0],"id":"9e147b71-caf7-4144-bd7e-e7193a8c3391","name":"XMLtoJSON (SessionID)"}],"connections":{"Logininformation":{"main":[[{"node":"XMLtoJSON (Challange)","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Start":{"main":[[{"node":"Logininformation","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"XMLtoJSON (SessionID)","type":"main","index":0}]]},"XMLtoJSON (Challange)":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"ac29cf14-d354-494e-952f-91227f9ac021","activeVersionId":"e6abf40a-d09b-4d8f-9554-671414293a49","versionCounter":11,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2025-12-26T15:06:46.088Z","createdAt":"2025-12-26T15:06:46.088Z","role":"workflow:owner","workflowId":"gBHg8b3uOwgf8XfC","projectId":"Oniqk8SCQE63N365","project":{"updatedAt":"2025-12-23T09:06:06.483Z","createdAt":"2025-12-23T09:02:15.061Z","id":"Oniqk8SCQE63N365","name":"Stefan Kopp <mail@stefankopp.com>","type":"personal","icon":null,"description":null,"creatorId":"93de1e5e-c030-4bb4-9c2c-f6577081d3ea"}}]},{"updatedAt":"2025-12-26T15:52:20.591Z","createdAt":"2025-12-26T15:22:32.627Z","id":"ZIA706NViNxKbGFl","name":"fritzbox_smarthomeactor_setstate","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"workflowId":{"__rl":true,"value":"gBHg8b3uOwgf8XfC","mode":"list","cachedResultUrl":"/workflow/gBHg8b3uOwgf8XfC","cachedResultName":"fritzbox_login"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[176,0],"name":"Call FRITZBox_Login","id":"aa6cf876-aeb5-4a88-a281-1bb8e178bf98"},{"parameters":{"inputSource":"jsonExample","jsonExample":"{\n  \"ain\": \"1234\",\n  \"switchcommand\": \"setswitchon\"\n}"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-48,0],"id":"8344d915-9c29-42b8-bc58-df285d6dca20","name":"When Executed by Another Workflow"},{"parameters":{"url":"http://fritz.box/webservices/homeautoswitch.lua","sendQuery":true,"queryParameters":{"parameters":[{"name":"switchcmd","value":"={{ $('When Executed by Another Workflow').isExecuted ? $('When Executed by Another Workflow').item.json.switchcommand : $('Test with ventilation').item.json.switchcommand}}"},{"name":"sid","value":"={{ $json.SessionInfo.SID }}"},{"name":"ain","value":"={{ $('When Executed by Another Workflow').isExecuted ? $('When Executed by Another Workflow').item.json.ain : $('Test with ventilation').item.json.ain }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[1040,16],"id":"ae855ac9-bec5-4849-870e-5d038b94b32d","name":"SetSwitchState"},{"parameters":{"content":"Erwartet als Input die ActorID (ain) und den SwitchParameter\n- setswitchon\n- setswitchoff\n- setswitchtoggle"},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-368,-16],"id":"b5f7235f-20e6-46b9-a93d-b9f6d1cc8c5e","name":"Sticky Note"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"cf53e024-a0c5-4e5f-841a-13deccca8679","leftValue":"={{ $('When Executed by Another Workflow').item.json.switchcommand }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"4eb2e0b0-890d-469e-8291-8d3fc36e2b37","leftValue":"={{ $('When Executed by Another Workflow').item.json.ain }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[624,-64],"id":"dc678c47-055a-46c6-951c-6a52c7700318","name":"If"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-304,-224],"id":"7c0d4bb4-0ead-484b-888a-5029d6b1dc4c","name":"When clicking ‘Execute workflow’"},{"parameters":{"assignments":{"assignments":[{"id":"b3bb364e-1d87-40a3-9369-f68b2cb38aca","name":"switchcommand","value":"setswitchoff","type":"string"},{"id":"d341af16-e37d-4ace-a9a3-2e7e2f985ac4","name":"ain","value":"08761 0148538","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-48,-224],"id":"4e46a553-0e59-43d8-885d-6a4b46abd551","name":"Test with ventilation"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"3e1a10d3-53bd-449c-9f0d-c3e395d4261c","leftValue":"={{ $('When Executed by Another Workflow').isExecuted }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[384,0],"id":"d4f8ed03-8760-45fa-865c-54acb4a186bb","name":"External Call?"}],"connections":{"Call FRITZBox_Login":{"main":[[{"node":"External Call?","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Call FRITZBox_Login","type":"main","index":0}]]},"If":{"main":[[{"node":"SetSwitchState","type":"main","index":0}],[]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Test with ventilation","type":"main","index":0}]]},"Test with ventilation":{"main":[[{"node":"Call FRITZBox_Login","type":"main","index":0}]]},"External Call?":{"main":[[{"node":"If","type":"main","index":0}],[{"node":"SetSwitchState","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"96b8cbd5-1f43-496b-8875-1465e5cdbb82","activeVersionId":"96b8cbd5-1f43-496b-8875-1465e5cdbb82","versionCounter":26,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2025-12-26T15:22:32.644Z","createdAt":"2025-12-26T15:22:32.644Z","role":"workflow:owner","workflowId":"ZIA706NViNxKbGFl","projectId":"Oniqk8SCQE63N365","project":{"updatedAt":"2025-12-23T09:06:06.483Z","createdAt":"2025-12-23T09:02:15.061Z","id":"Oniqk8SCQE63N365","name":"Stefan Kopp <mail@stefankopp.com>","type":"personal","icon":null,"description":null,"creatorId":"93de1e5e-c030-4bb4-9c2c-f6577081d3ea"}}]},{"updatedAt":"2025-12-26T15:55:50.881Z","createdAt":"2025-12-26T15:32:48.107Z","id":"93Y6iDUJJi5KUvJv","name":"ventilation_on","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-112,-160],"id":"eda8a484-11fe-4927-aa12-7bf379f3c23e","name":"When clicking ‘Execute workflow’"},{"parameters":{"workflowId":{"__rl":true,"value":"ZIA706NViNxKbGFl","mode":"list","cachedResultUrl":"/workflow/ZIA706NViNxKbGFl","cachedResultName":"fritzbox_smarthomeactor_setstate"},"workflowInputs":{"mappingMode":"defineBelow","value":{"switchcommand":"setswitchon","ain":"08761 0148538"},"matchingColumns":["switchcommand"],"schema":[{"id":"ain","displayName":"ain","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"switchcommand","displayName":"switchcommand","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[208,0],"id":"a4dd47e4-d20c-41c9-82e3-46ede3b86e96","name":"Call 'fritzbox_smarthomeactor_setstate'"},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-112,0],"id":"3fb0f166-24aa-4992-9a18-a24eff44cdcd","name":"When Executed by Another Workflow"},{"parameters":{"path":"ventilation-off","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-112,176],"id":"11f4a202-109d-478c-8783-89bc08214632","name":"Webhook","webhookId":"0f222b09-9647-4373-a1fd-a21f1e8f1ed3"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Call 'fritzbox_smarthomeactor_setstate'","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Call 'fritzbox_smarthomeactor_setstate'","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Call 'fritzbox_smarthomeactor_setstate'","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"8d76b06f-0eea-4e51-bdb8-47bc1ef3af2f","activeVersionId":"8d76b06f-0eea-4e51-bdb8-47bc1ef3af2f","versionCounter":9,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2025-12-26T15:32:48.121Z","createdAt":"2025-12-26T15:32:48.121Z","role":"workflow:owner","workflowId":"93Y6iDUJJi5KUvJv","projectId":"Oniqk8SCQE63N365","project":{"updatedAt":"2025-12-23T09:06:06.483Z","createdAt":"2025-12-23T09:02:15.061Z","id":"Oniqk8SCQE63N365","name":"Stefan Kopp <mail@stefankopp.com>","type":"personal","icon":null,"description":null,"creatorId":"93de1e5e-c030-4bb4-9c2c-f6577081d3ea"}}]},{"updatedAt":"2025-12-26T15:54:58.459Z","createdAt":"2025-12-26T15:34:05.763Z","id":"U4tnb5Uq4vwgKIH6","name":"ventilation_off","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-128,-176],"id":"607105af-7b6d-426e-949b-d991c1e6d5dd","name":"When clicking ‘Execute workflow’"},{"parameters":{"workflowId":{"__rl":true,"value":"ZIA706NViNxKbGFl","mode":"list","cachedResultUrl":"/workflow/ZIA706NViNxKbGFl","cachedResultName":"fritzbox_smarthomeactor_setstate"},"workflowInputs":{"mappingMode":"defineBelow","value":{"switchcommand":"setswitchoff","ain":"08761 0148538"},"matchingColumns":["switchcommand"],"schema":[{"id":"ain","displayName":"ain","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"switchcommand","displayName":"switchcommand","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":true,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[208,0],"id":"d8c8a9d2-cb5f-486a-b60e-68820a9f6573","name":"Call 'fritzbox_smarthomeactor_setstate'"},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-128,0],"id":"ca75e480-bde6-4961-a560-d24afa2e3a5a","name":"When Executed by Another Workflow"},{"parameters":{"path":"ventilation-on","responseMode":"lastNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-128,208],"id":"bc3fb0c2-bee7-48b0-8505-93097d7fb5b4","name":"Webhook","webhookId":"92392a92-53f8-415e-a59b-256554d720fd"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Call 'fritzbox_smarthomeactor_setstate'","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Call 'fritzbox_smarthomeactor_setstate'","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Call 'fritzbox_smarthomeactor_setstate'","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"fde7626b-3467-4238-bb69-1baf36d3189a","activeVersionId":"fde7626b-3467-4238-bb69-1baf36d3189a","versionCounter":12,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2025-12-26T15:34:05.775Z","createdAt":"2025-12-26T15:34:05.775Z","role":"workflow:owner","workflowId":"U4tnb5Uq4vwgKIH6","projectId":"Oniqk8SCQE63N365","project":{"updatedAt":"2025-12-23T09:06:06.483Z","createdAt":"2025-12-23T09:02:15.061Z","id":"Oniqk8SCQE63N365","name":"Stefan Kopp <mail@stefankopp.com>","type":"personal","icon":null,"description":null,"creatorId":"93de1e5e-c030-4bb4-9c2c-f6577081d3ea"}}]},{"updatedAt":"2025-12-26T16:41:28.640Z","createdAt":"2025-12-26T16:01:52.155Z","id":"qHMQyTMENeIPTRVq","name":"[sub] plenticore_getsession","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-176,-160],"id":"756f5941-754c-471a-b379-a3af2100f712","name":"When clicking ‘Execute workflow’"},{"parameters":{"method":"POST","url":"http://192.168.178.41/api/v1/auth/start","sendBody":true,"bodyParameters":{"parameters":[{"name":"username","value":"user"},{"name":"nonce","value":"={{ $json.nonce }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[272,0],"id":"fe8bbb68-6f3d-4ac7-8e63-37af93030ecd","name":"auth/start"},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-176,96],"id":"59525b02-03c6-4b43-83bb-4b2c3cf0791a","name":"When Executed by Another Workflow"},{"parameters":{"method":"POST","url":"http://192.168.178.41/api/v1/auth/finish","sendBody":true,"bodyParameters":{"parameters":[{"name":"proof","value":"={{ $json.clientProof }}"},{"name":"transactionId","value":"={{ $json.transactionId }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[688,0],"id":"71dfe6d1-da43-4027-a040-385ed74a4b14","name":"auth/finish"},{"parameters":{"jsCode":"// Wir generieren 48 Bytes an Zufallsdaten. \n// Da Base64 aus 3 Bytes genau 4 Zeichen macht, \n// ergeben 48 Bytes eine Zeichenfolge von exakt 64 Zeichen.\n\nconst crypto = require('crypto');\n\nconst nonce = crypto.randomBytes(48).toString('base64');\n\nreturn {\n  nonce: nonce\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[64,0],"id":"224993b8-7572-4a67-8465-b64b28aa4056","name":"getNonce"},{"parameters":{"jsCode":"const crypto = require('crypto');\n\n// --- EINSTELLUNGEN ---\nconst password = 'teratec534';\nconst userType = 'user'; \n\nconst clientNonce = $('getNonce').first().json.nonce; \nconst salt = $input.first().json.salt;\nconst serverNonce = $input.first().json.nonce;\nconst rounds = $input.first().json.rounds;\nconst transactionId = $input.first().json.transactionId;\n\n// --- KRYPTOGRAFIE SCHRITT 1: PBKDF2 & HMAC ---\nconst saltedPassword = crypto.pbkdf2Sync(password, Buffer.from(salt, 'base64'), rounds, 32, 'sha256');\n\nconst clientKey = crypto.createHmac('sha256', saltedPassword).update(\"Client Key\").digest();\nconst serverKey = crypto.createHmac('sha256', saltedPassword).update(\"Server Key\").digest();\nconst storedKey = crypto.createHash('sha256').update(clientKey).digest();\n\n// Die exakte Auth-Message (wichtig für die Signatur)\nconst authMessage = `n=${userType},r=${clientNonce},r=${serverNonce},s=${salt},i=${rounds},c=biws,r=${serverNonce}`;\n\nconst clientSignature = crypto.createHmac('sha256', storedKey).update(authMessage).digest();\nconst serverSignature = crypto.createHmac('sha256', serverKey).update(authMessage).digest();\n\n// Client Proof (XOR Operation)\nconst clientProof = clientKey.map((byte, i) => byte ^ clientSignature[i]).toString('base64');\n\n// --- KRYPTOGRAFIE SCHRITT 2: Session Key & AES-GCM (für auth/create_session) ---\n// Dieser Teil berechnet den Key, den wir später brauchen, um das Token vom WR zu entschlüsseln\nconst hmac = crypto.createHmac('sha256', storedKey);\nhmac.update(\"Session Key\");\nhmac.update(authMessage);\nhmac.update(clientKey);\nconst protocolKey = hmac.digest();\n\nreturn {\n  transactionId,\n  clientProof,\n  protocolKey: protocolKey.toString('base64'),\n  serverSignature: serverSignature.toString('base64'),\n  authMessage // zur Sicherheit für später\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[480,0],"id":"acd24a72-e2e9-4121-aa52-01443bc05624","name":"AuthData"},{"parameters":{"jsCode":"const crypto = require('crypto');\n\nconst token = $input.first().json.token;\nconst protocolKey = Buffer.from($('AuthData').first().json.protocolKey, 'base64');\nconst iv = crypto.randomBytes(16);\n\nconst cipher = crypto.createCipheriv('aes-256-gcm', protocolKey, iv);\nlet ciphertext = cipher.update(token, 'utf8');\nciphertext = Buffer.concat([ciphertext, cipher.final()]);\nconst tag = cipher.getAuthTag();\n\nreturn {\n  transactionId: $('AuthData').first().json.transactionId,\n  iv: iv.toString('base64'),\n  tag: tag.toString('base64'),\n  payload: ciphertext.toString('base64')\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[896,0],"id":"915f6602-0cf6-4050-b3f8-dc3421e4cfec","name":"Payload"},{"parameters":{"method":"POST","url":"http://192.168.178.41/api/v1/auth/create_session","sendBody":true,"bodyParameters":{"parameters":[{"name":"iv","value":"={{ $json.iv }}"},{"name":"transactionId","value":"={{ $json.transactionId }}"},{"name":"tag","value":"={{ $json.tag }}"},{"name":"payload","value":"={{ $json.payload }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[1104,0],"id":"a5882344-6330-43ff-9a7b-49be29736b34","name":"auth/create_session"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"getNonce","type":"main","index":0}]]},"auth/start":{"main":[[{"node":"AuthData","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"getNonce","type":"main","index":0}]]},"auth/finish":{"main":[[{"node":"Payload","type":"main","index":0}]]},"getNonce":{"main":[[{"node":"auth/start","type":"main","index":0}]]},"AuthData":{"main":[[{"node":"auth/finish","type":"main","index":0}]]},"Payload":{"main":[[{"node":"auth/create_session","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"47574929-d439-4838-b99a-886ac1313524","activeVersionId":"47574929-d439-4838-b99a-886ac1313524","versionCounter":13,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2025-12-26T16:01:52.168Z","createdAt":"2025-12-26T16:01:52.168Z","role":"workflow:owner","workflowId":"qHMQyTMENeIPTRVq","projectId":"Oniqk8SCQE63N365","project":{"updatedAt":"2025-12-23T09:06:06.483Z","createdAt":"2025-12-23T09:02:15.061Z","id":"Oniqk8SCQE63N365","name":"Stefan Kopp <mail@stefankopp.com>","type":"personal","icon":null,"description":null,"creatorId":"93de1e5e-c030-4bb4-9c2c-f6577081d3ea"}}]},{"updatedAt":"2025-12-26T16:06:33.000Z","createdAt":"2025-12-26T16:03:21.117Z","id":"B2sAJfxFaYZpdnxM","name":"etron","description":null,"active":false,"isArchived":true,"nodes":[],"connections":{},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"5875fde5-e7b1-4a52-9824-0cf5ed5a660e","activeVersionId":null,"versionCounter":2,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2025-12-26T16:03:21.125Z","createdAt":"2025-12-26T16:03:21.125Z","role":"workflow:owner","workflowId":"B2sAJfxFaYZpdnxM","projectId":"Oniqk8SCQE63N365","project":{"updatedAt":"2025-12-23T09:06:06.483Z","createdAt":"2025-12-23T09:02:15.061Z","id":"Oniqk8SCQE63N365","name":"Stefan Kopp <mail@stefankopp.com>","type":"personal","icon":null,"description":null,"creatorId":"93de1e5e-c030-4bb4-9c2c-f6577081d3ea"}}]},{"updatedAt":"2025-12-26T21:28:13.835Z","createdAt":"2025-12-26T16:41:16.810Z","id":"iHQOgYMqeMRu3eRD","name":"plenticore_readdata","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-704,-256],"id":"70f5a9fb-c06f-41b7-8230-ec30c43ad721","name":"When clicking ‘Execute workflow’"},{"parameters":{"workflowId":{"__rl":true,"value":"qHMQyTMENeIPTRVq","mode":"list","cachedResultUrl":"/workflow/qHMQyTMENeIPTRVq","cachedResultName":"[sub] plenticore_getsession"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[272,-48],"id":"7473d1bd-f83c-48b3-9076-d8be0e247131","name":"Call 'plenticore_getsession'"},{"parameters":{"url":"http://192.168.178.41/api/v1/processdata/devices:local","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Session {{ $json.value }}"}]},"options":{"response":{"response":{"fullResponse":true}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-208,-64],"id":"204d4a0c-f5b6-42cd-81c8-6538b84a9bd8","name":"HTTP Request","onError":"continueErrorOutput"},{"parameters":{"operation":"get","dataTableId":{"__rl":true,"value":"l7lPki6h0Fy4zCyv","mode":"list","cachedResultName":"homecontrol_temp_data","cachedResultUrl":"/projects/Oniqk8SCQE63N365/datatables/l7lPki6h0Fy4zCyv"},"matchType":"allConditions","filters":{"conditions":[{"keyName":"name","keyValue":"plenticore_sessionid"}]}},"type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[-432,-64],"id":"69eca3a7-a98c-4152-9078-8ef8674b7a27","name":"getSessionID"},{"parameters":{"operation":"upsert","dataTableId":{"__rl":true,"value":"l7lPki6h0Fy4zCyv","mode":"list","cachedResultName":"homecontrol_temp_data","cachedResultUrl":"/projects/Oniqk8SCQE63N365/datatables/l7lPki6h0Fy4zCyv"},"filters":{"conditions":[{"keyName":"name","keyValue":"plenticore_sessionid"}]},"columns":{"mappingMode":"defineBelow","value":{"value":"={{ $('Call \\'plenticore_getsession\\'').item.json.sessionId }}","name":"plenticore_sessionid"},"matchingColumns":["value"],"schema":[{"id":"value","displayName":"value","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"name","displayName":"name","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[512,-48],"id":"6e911c7a-a8be-4ebe-81ac-e7da90fb59d4","name":"Upsert SessionID"},{"parameters":{"path":"plenticore_data","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-704,-64],"id":"e366eb86-0df3-4df0-9026-521d5d7164f6","name":"Webhook","webhookId":"eafffb96-12ed-4213-872c-545dcdfd87a3"},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-704,128],"id":"21b6bc05-7d5e-41d0-a33d-fc41bb50d1fa","name":"When Executed by Another Workflow"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"getSessionID","type":"main","index":0}]]},"Call 'plenticore_getsession'":{"main":[[{"node":"Upsert SessionID","type":"main","index":0}]]},"HTTP Request":{"main":[[],[{"node":"Call 'plenticore_getsession'","type":"main","index":0}]]},"getSessionID":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Upsert SessionID":{"main":[[{"node":"getSessionID","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"getSessionID","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"getSessionID","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"eb6d63ef-1259-4526-b21c-e242e0ee28ab","activeVersionId":"95179df2-d245-4ec6-9bce-7e8c9d37a94d","versionCounter":15,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2025-12-26T16:41:16.819Z","createdAt":"2025-12-26T16:41:16.819Z","role":"workflow:owner","workflowId":"iHQOgYMqeMRu3eRD","projectId":"Oniqk8SCQE63N365","project":{"updatedAt":"2025-12-23T09:06:06.483Z","createdAt":"2025-12-23T09:02:15.061Z","id":"Oniqk8SCQE63N365","name":"Stefan Kopp <mail@stefankopp.com>","type":"personal","icon":null,"description":null,"creatorId":"93de1e5e-c030-4bb4-9c2c-f6577081d3ea"}}]},{"updatedAt":"2025-12-26T19:04:18.446Z","createdAt":"2025-12-26T18:21:28.288Z","id":"uSXnWpGaamrKrBL4","name":"piko","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-368,-48],"id":"a0619a28-e137-4a6e-bd98-57961fc2c9ed","name":"When clicking ‘Execute workflow’"},{"parameters":{"url":"={{ 'http://192.168.178.111/api/dxs.json?dxsEntries=251658753&dxsEntries=251659009&dxsEntries=251659265&dxsEntries=251659280&dxsEntries=251659281&dxsEntries=251658496' }}","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","options":{"response":{"response":{"fullResponse":true,"responseFormat":"json"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-160,-48],"id":"103c9eea-38c5-4d65-9bb4-daa996e978b8","name":"HTTP Request","credentials":{"httpBasicAuth":{"id":"VlTJu9UZ9ui7yDpP","name":"Piko 15 User"}}},{"parameters":{"jsCode":"// 1. Daten sicher abrufen\nconst input = $input.first().json.body;\nlet entries = input.dxsEntries;\n\n// Falls dxsEntries kein Array ist (Fehlerbehebung für \"forEach is not a function\")\nif (!entries) {\n  return { error: \"Keine dxsEntries gefunden. Prüfe den HTTP Request Node.\" };\n}\n\nif (!Array.isArray(entries)) {\n  entries = [entries];\n}\n\n// 2. Mapping definieren\nconst mapping = {\n    33556736: \"ID_DCEingangGesamt\",\n    67109120: \"ID_Ausgangsleistung\",\n    83888128: \"ID_Eigenverbrauch\",\n    16780032: \"ID_Status\",\n    251658754: \"ID_Ertrag_d\",\n    251659010: \"ID_Hausverbrauch_d\",\n    251659266: \"ID_Eigenverbrauch_d\",\n    251659278: \"ID_Eigenverbrauchsquote_d\",\n    251659279: \"ID_Autarkiegrad_d\",\n    251658753: \"ID_Ertrag_G\",\n    251659009: \"ID_Hausverbrauch_G\",\n    251659265: \"ID_Eigenverbrauch_G\",\n    251659280: \"ID_Eigenverbrauchsquote_G\",\n    251659281: \"ID_Autarkiegrad_G\",\n    251658496: \"ID_Betriebszeit\",\n    33555202: \"ID_DC1Spannung\",\n    33555201: \"ID_DC1Strom\",\n    33555203: \"ID_DC1Leistung\",\n    33555458: \"ID_DC2Spannung\",\n    33555457: \"ID_DC2Strom\",\n    33555459: \"ID_DC2Leistung\",\n    33555714: \"ID_DC3Spannung\",\n    33555713: \"ID_DC3Strom\",\n    33555715: \"ID_DC3Leistung\",\n    83886336: \"ID_HausverbrauchSolar\",\n    83886592: \"ID_HausverbrauchBatterie\",\n    83886848: \"ID_HausverbrauchNetz\",\n    83887106: \"ID_HausverbrauchPhase1\",\n    83887362: \"ID_HausverbrauchPhase2\",\n    83887618: \"ID_HausverbrauchPhase3\",\n    67110400: \"ID_NetzFrequenz\",\n    67110656: \"ID_NetzCosPhi\",\n    67109378: \"ID_P1Spannung\",\n    67109377: \"ID_P1Strom\",\n    67109379: \"ID_P1Leistung\",\n    67109634: \"ID_P2Spannung\",\n    67109633: \"ID_P2Strom\",\n    67109635: \"ID_P2Leistung\",\n    67109890: \"ID_P3Spannung\",\n    67109889: \"ID_P3Strom\",\n    67109891: \"ID_P3Leistung\"\n};\n\nconst result = {};\n\n// 3. Transformation\nentries.forEach(entry => {\n  if (entry && entry.dxsId) {\n    const propertyName = mapping[entry.dxsId] || `id_${entry.dxsId}`;\n    result[propertyName] = entry.value;\n  }\n});\n\n// 4. Zeitstempel hinzufügen\nresult.timestamp = new Date().toISOString();\n\nreturn result;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[48,-48],"id":"747865d4-5453-4a91-a90c-c6469d402931","name":"Code in JavaScript"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"8c9f8576-73cd-4e78-bebc-f0e41a476c19","activeVersionId":null,"versionCounter":4,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2025-12-26T18:21:28.303Z","createdAt":"2025-12-26T18:21:28.303Z","role":"workflow:owner","workflowId":"uSXnWpGaamrKrBL4","projectId":"Oniqk8SCQE63N365","project":{"updatedAt":"2025-12-23T09:06:06.483Z","createdAt":"2025-12-23T09:02:15.061Z","id":"Oniqk8SCQE63N365","name":"Stefan Kopp <mail@stefankopp.com>","type":"personal","icon":null,"description":null,"creatorId":"93de1e5e-c030-4bb4-9c2c-f6577081d3ea"}}]},{"updatedAt":"2025-12-26T20:15:38.728Z","createdAt":"2025-12-26T19:24:38.210Z","id":"xxWFu8GDd0BctWV9","name":"Smartmeter Websocket","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0],"id":"1d1c4077-ab40-4e4a-8aeb-a2877d01677a","name":"When clicking ‘Execute workflow’"},{"parameters":{"jsCode":"const Modbus = require('jsmodbus');\nconst net = require('net');\n\nreturn new Promise((resolve, reject) => {\n    const socket = new net.Socket();\n    const client = new Modbus.client.TCP(socket, 1); // Unit-ID ist meist 1\n    const options = {\n        'host': '192.168.178.35',\n        'port': 502\n    };\n\n    socket.on('error', (err) => {\n        reject(new Error(\"Verbindung fehlgeschlagen: \" + err.message));\n    });\n\n    socket.connect(options, async () => {\n        try {\n            // Beispiel: Lese 10 Register ab Adresse 40070\n            // KSEM Register: 40071 (Wirkleistung gesamt)\n            const resp = await client.readHoldingRegisters(40070, 10);\n            \n            socket.end();\n            resolve({\n                json: {\n                    raw_data: resp.response._body._values,\n                    // Modbus liefert oft zwei 16-Bit Register für einen 32-Bit Wert\n                    wirkleistung_watt: resp.response._body._values[1] \n                }\n            });\n        } catch (e) {\n            socket.end();\n            reject(e);\n        }\n    });\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[240,0],"id":"224f8a4f-22cb-44fa-b7b7-a0201894fca2","name":"Code in JavaScript"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"e9e54c83-6040-4d1d-82b5-75c9e528c45b","activeVersionId":null,"versionCounter":4,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2025-12-26T19:24:38.224Z","createdAt":"2025-12-26T19:24:38.224Z","role":"workflow:owner","workflowId":"xxWFu8GDd0BctWV9","projectId":"Oniqk8SCQE63N365","project":{"updatedAt":"2025-12-23T09:06:06.483Z","createdAt":"2025-12-23T09:02:15.061Z","id":"Oniqk8SCQE63N365","name":"Stefan Kopp <mail@stefankopp.com>","type":"personal","icon":null,"description":null,"creatorId":"93de1e5e-c030-4bb4-9c2c-f6577081d3ea"}}]},{"updatedAt":"2025-12-26T21:00:08.308Z","createdAt":"2025-12-26T20:28:22.494Z","id":"qU7qd6XIr0n1YnR2","name":"piko_history","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-432,-208],"id":"93ebe7d9-3e3d-4cea-9852-379915030cd9","name":"When clicking ‘Execute workflow’"},{"parameters":{"url":"http://192.168.178.111/LogDaten.dat","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","options":{"response":{"response":{"fullResponse":true}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-160,-32],"id":"92b5327e-b910-4736-ae33-4ccee2c5a892","name":"HTTP Request","credentials":{"httpBasicAuth":{"id":"VlTJu9UZ9ui7yDpP","name":"Piko 15 User"}}},{"parameters":{"jsCode":"const content =  $input.first().json.data;\n\nconst lines = content.split('\\n');\nconst results = [];\n\n// Zeitberechnung wie im Java-Code\nconst currentTime = new Date();\nlet currentSeconds = 0;\n\n// Kopfzeilen überspringen & aktuelle Sekunden extrahieren (Zeile 1-7)\nfor (let i = 0; i < 7; i++) {\n    if (lines[i] && lines[i].includes('akt. Zeit:')) {\n        const parts = lines[i].split('\\t');\n        currentSeconds = parseInt(parts[1].trim());\n    }\n}\n\n// Datenzeilen verarbeiten (Start ab Zeile 8)\nfor (let i = 7; i < lines.length; i++) {\n    const dataLine = lines[i].trim();\n    if (!dataLine) continue;\n\n    const s = dataLine.split('\\t').map(s => s.trim() === \"\" ? null : s.trim());\n    \n    if (s[0]) {\n        const entrySecondsBehind = parseInt(s[0]);\n        // Java: entryTime = currentTime.minusSeconds(currentSeconds - entrySecondsBehind)\n        const diffSeconds = currentSeconds - entrySecondsBehind;\n        const entryTime = new Date(currentTime.getTime() - (diffSeconds * 1000));\n\n        results.push({\n            logTimestamp: entrySecondsBehind,\n            logDate: entryTime.toISOString(),\n            dc1u: s[1], dc1i: s[2], dc1p: s[3], dc1t: s[4], dc1s: s[5],\n            dc2u: s[6], dc2i: s[7], dc2p: s[8], dc2t: s[9], dc2s: s[10],\n            dc3u: s[11], dc3i: s[12], dc3p: s[13], dc3t: s[14], dc3s: s[15],\n            ac1u: s[16], ac1i: s[17], ac1p: s[18], ac1t: s[19],\n            ac2u: s[20], ac2i: s[21], ac2p: s[22], ac2t: s[23],\n            ac3u: s[24], ac3i: s[25], ac3p: s[26], ac3t: s[27],\n            acf: s[28],\n            fci: s[29],\n            ain1: s[30], ain2: s[31], ain3: s[32], ain4: s[33],\n            ac2: s[34],\n            err: s[35],\n            enss: s[36],\n            enserr: s[37],\n            kbs: s[38] || null,\n            totale: s[39] || null,\n            isor: s[40] || null,\n            event: s[41] || null\n        });\n    }\n}\n\nreturn results;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[48,-32],"id":"7529f581-f140-4982-ba94-df691ffacfd8","name":"Code in JavaScript"},{"parameters":{"operation":"upsert","table":{"__rl":true,"value":"pikohistory","mode":"list","cachedResultName":"pikohistory"},"columnToMatchOn":"logtimestamp","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[256,-32],"id":"25f2d7f3-4891-4403-935d-7930302fd097","name":"Insert or update rows in a table","credentials":{"mySql":{"id":"q8jUnB0EP32rq78n","name":"k71631_hc_v2"}}},{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 45 * * * *"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-432,-32],"id":"5efcf100-2c1a-4512-add2-7c212b11fa6c","name":"Schedule Trigger"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Insert or update rows in a table","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"1a324455-dc61-4d87-8f08-7d7752b3cdcb","activeVersionId":"1a324455-dc61-4d87-8f08-7d7752b3cdcb","versionCounter":7,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2025-12-26T20:28:22.513Z","createdAt":"2025-12-26T20:28:22.513Z","role":"workflow:owner","workflowId":"qU7qd6XIr0n1YnR2","projectId":"Oniqk8SCQE63N365","project":{"updatedAt":"2025-12-23T09:06:06.483Z","createdAt":"2025-12-23T09:02:15.061Z","id":"Oniqk8SCQE63N365","name":"Stefan Kopp <mail@stefankopp.com>","type":"personal","icon":null,"description":null,"creatorId":"93de1e5e-c030-4bb4-9c2c-f6577081d3ea"}}]},{"updatedAt":"2025-12-27T15:21:05.955Z","createdAt":"2025-12-26T21:00:34.585Z","id":"0MLvQnRsL2X72rgG","name":"plenticore_history","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-320,-960],"id":"61989032-9bf5-4e28-9984-52c59ad099ff","name":"When clicking ‘Execute workflow’"},{"parameters":{"jsCode":"// 1. Daten aus dem HTTP Request holen\nconst content = items[0].json.data || $input.first().json.rowText; \nif (!content) return [];\n\nconst lines = content.split('\\n');\nconst results = [];\n\n// Zeitberechnung basierend auf der Systemzeit von n8n\nconst currentTime = new Date();\nlet currentSeconds = 0;\n\n// 2. Kopfzeilen (1-7) verarbeiten\nfor (let i = 0; i < 7; i++) {\n    if (lines[i] && lines[i].includes('akt. Zeit:')) {\n        const parts = lines[i].split('\\t');\n        if (parts[1]) currentSeconds = parseInt(parts[1].trim());\n    }\n}\n\n// 3. Datenzeilen ab Zeile 8 verarbeiten\nfor (let i = 7; i < lines.length; i++) {\n    const dataLine = lines[i].trim();\n    if (!dataLine) continue;\n\n    // Splitte Tab-getrennt, trimme und setze Leerstrings auf null\n    const s = dataLine.split('\\t').map(val => {\n        const trimmed = val.trim();\n        return trimmed === \"\" ? null : trimmed;\n    });\n    \n    // Nur verarbeiten, wenn die ID (Sekunden) vorhanden ist\n    if (s[0]) {\n        const entrySecondsBehind = parseInt(s[0]);\n        const diffSeconds = currentSeconds - entrySecondsBehind;\n        const entryTime = new Date(currentTime.getTime() - (diffSeconds * 1000));\n\n        // Das vollständige Plenticore Mapping (56 Felder)\n        results.push({\n            logTimestamp: entrySecondsBehind,\n            logDate: entryTime.toISOString(),\n            // DC Daten\n            dc1u: s[1], dc1i: s[2], dc1p: s[3], dc1t: s[4], dc1s: s[5],\n            dc2u: s[6], dc2i: s[7], dc2p: s[8], dc2t: s[9], dc2s: s[10],\n            dc3u: s[11], dc3i: s[12], dc3p: s[13], dc3t: s[14], dc3s: s[15],\n            // AC Daten\n            ac1u: s[16], ac1i: s[17], ac1p: s[18], ac1t: s[19],\n            ac2u: s[20], ac2i: s[21], ac2p: s[22], ac2t: s[23],\n            ac3u: s[24], ac3i: s[25], ac3p: s[26], ac3t: s[27],\n            acf: s[28], fci: s[29],\n            // Analoge Eingänge\n            ain1: s[30], ain2: s[31], ain3: s[32], ain4: s[33],\n            ac2: s[34], err: s[35], enss: s[36], enserr: s[37],\n            // Plenticore Spezifisch: Smart Home & Batterie (sh, sc, hc)\n            sh1p: s[38], sh2p: s[39], sh3p: s[40],\n            sc1p: s[41], sc2p: s[42], sc3p: s[43],\n            hc1p: s[44], hc2p: s[45], hc3p: s[46],\n            // Batterie Status\n            soch: s[47], batTe: s[48], batCy: s[49],\n            // Statistik & Service\n            kbs: s[50] || null,\n            totale: s[51] || null,\n            owne: s[52] || null,  // Eigenverbrauch Energie\n            homee: s[53] || null, // Hausverbrauch Energie\n            isor: s[54] || null,\n            event: s[55] || null\n        });\n    }\n}\n\nreturn results;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[464,-960],"id":"ca829b22-e545-4807-9c04-3d2b83dbf9a2","name":"Code in JavaScript"},{"parameters":{"operation":"upsert","table":{"__rl":true,"value":"plenticorehistory","mode":"list","cachedResultName":"plenticorehistory"},"columnToMatchOn":"logtimestamp","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[704,-960],"id":"39f8f224-e7ea-4e85-a17d-1fc5bcace1bf","name":"Insert or update rows in a table","credentials":{"mySql":{"id":"q8jUnB0EP32rq78n","name":"k71631_hc_v2"}}},{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 45 * * * *"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-320,-368],"id":"f147dc13-3c6f-4d3a-a980-2a5f166e611d","name":"Schedule Trigger"},{"parameters":{"workflowId":{"__rl":true,"value":"qHMQyTMENeIPTRVq","mode":"list","cachedResultUrl":"/workflow/qHMQyTMENeIPTRVq","cachedResultName":"[sub] plenticore_getsession"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[528,-736],"id":"4cbf2ec4-488d-4b76-a873-6777c466db88","name":"Call 'plenticore_getsession'"},{"parameters":{"operation":"get","dataTableId":{"__rl":true,"value":"l7lPki6h0Fy4zCyv","mode":"list","cachedResultName":"homecontrol_temp_data","cachedResultUrl":"/projects/Oniqk8SCQE63N365/datatables/l7lPki6h0Fy4zCyv"},"matchType":"allConditions","filters":{"conditions":[{"keyName":"name","keyValue":"plenticore_sessionid"}]}},"type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[-48,-752],"id":"4d333020-7a1d-4484-9bc7-8aa9d94b11ed","name":"getSessionID"},{"parameters":{"operation":"upsert","dataTableId":{"__rl":true,"value":"l7lPki6h0Fy4zCyv","mode":"list","cachedResultName":"homecontrol_temp_data","cachedResultUrl":"/projects/Oniqk8SCQE63N365/datatables/l7lPki6h0Fy4zCyv"},"filters":{"conditions":[{"keyName":"name","keyValue":"plenticore_sessionid"}]},"columns":{"mappingMode":"defineBelow","value":{"value":"={{ $('Call \\'plenticore_getsession\\'').item.json.sessionId }}","name":"plenticore_sessionid"},"matchingColumns":["value"],"schema":[{"id":"value","displayName":"value","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"name","displayName":"name","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[752,-736],"id":"c5823018-d0d6-4c69-a348-271582cb62c0","name":"Upsert SessionID"},{"parameters":{"path":"plenticore_data","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-320,-752],"id":"c552975f-4035-4dd8-93f9-5615884c1298","name":"Webhook","webhookId":"eafffb96-12ed-4213-872c-545dcdfd87a3"},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-320,-560],"id":"b37b59b2-b5ac-4307-8be5-9e764f7ffab7","name":"When Executed by Another Workflow"},{"parameters":{"method":"POST","url":"http://192.168.178.41/api/v1/logdata/download","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Session {{ $json.value }}"},{"name":"Accept","value":"application/json"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"begin","value":"={{ $today.minus(7, 'days').format('yyyy-MM-dd') }}"},{"name":"end"}]},"options":{"allowUnauthorizedCerts":true,"response":{"response":{"fullResponse":true,"responseFormat":"text"}},"timeout":30000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[176,-752],"id":"02d5793a-01b1-426a-9651-7b4296c7f017","name":"HTTP Request1","retryOnFail":true,"maxTries":2,"waitBetweenTries":5000,"executeOnce":false,"alwaysOutputData":false,"onError":"continueErrorOutput"},{"parameters":{"operation":"executeQuery","query":"UPDATE plenticorehistory\nSET hour = DATE_FORMAT(NOW(), '%Y-%m-%d %H:00:00'),\n    day  = DATE_FORMAT(NOW(), '%Y-%m-%d 00:00:00')\nwhere hour is null or day is null;","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[912,-960],"id":"4b5fda92-8919-4279-869f-dcfa55c9e8e8","name":"Execute a SQL query","credentials":{"mySql":{"id":"q8jUnB0EP32rq78n","name":"k71631_hc_v2"}}}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"getSessionID","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Insert or update rows in a table","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"getSessionID","type":"main","index":0}]]},"Call 'plenticore_getsession'":{"main":[[{"node":"Upsert SessionID","type":"main","index":0}]]},"getSessionID":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"Upsert SessionID":{"main":[[{"node":"getSessionID","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"getSessionID","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"getSessionID","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}],[{"node":"Call 'plenticore_getsession'","type":"main","index":0}]]},"Insert or update rows in a table":{"main":[[{"node":"Execute a SQL query","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"2e18502b-27ee-4405-9850-75e104d84ced","activeVersionId":null,"versionCounter":15,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2025-12-26T21:00:34.601Z","createdAt":"2025-12-26T21:00:34.601Z","role":"workflow:owner","workflowId":"0MLvQnRsL2X72rgG","projectId":"Oniqk8SCQE63N365","project":{"updatedAt":"2025-12-23T09:06:06.483Z","createdAt":"2025-12-23T09:02:15.061Z","id":"Oniqk8SCQE63N365","name":"Stefan Kopp <mail@stefankopp.com>","type":"personal","icon":null,"description":null,"creatorId":"93de1e5e-c030-4bb4-9c2c-f6577081d3ea"}}]},{"updatedAt":"2025-12-27T18:54:11.969Z","createdAt":"2025-12-27T18:42:46.343Z","id":"cfsLSJWiPfNeIRt0","name":"n8n_backup","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0],"id":"95f293eb-13cd-4bfd-a9ab-0b58f668f257","name":"When clicking ‘Execute workflow’"},{"parameters":{},"type":"n8n-nodes-backup.n8nBackup","typeVersion":1,"position":[208,0],"id":"5ef4b0e7-c375-4bbe-8e62-804a7f4d3e59","name":"n8n Backup","credentials":{"n8nApi":{"id":"OCbDN7b5C9X7qc9F","name":"n8n account 2"}}}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"n8n Backup","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"984b1b54-cacf-4b3c-b859-b2920eb25cb7","activeVersionId":null,"versionCounter":2,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2025-12-27T18:42:46.364Z","createdAt":"2025-12-27T18:42:46.364Z","role":"workflow:owner","workflowId":"cfsLSJWiPfNeIRt0","projectId":"Oniqk8SCQE63N365","project":{"updatedAt":"2025-12-23T09:06:06.483Z","createdAt":"2025-12-23T09:02:15.061Z","id":"Oniqk8SCQE63N365","name":"Stefan Kopp <mail@stefankopp.com>","type":"personal","icon":null,"description":null,"creatorId":"93de1e5e-c030-4bb4-9c2c-f6577081d3ea"}}]}]